# Recommendation systems

In this notebook, recommendations on movies are given, based on the user's ratings.

In the first section, tried to produce movie recommendations based on the genre of the movies the user rated high in his past. This can be called a naive approach of *'Content-based filtering'*.

In the second section, matrix factorization (including SVD) or nearest neighbours are attempted to produce movie recommendations. Here, the recommendations are influenced by the ratings from other users as well. Owing to this collaboration, these can be called naive approaches of *'Collaborative filtering'*.

In [1]:
import pandas as pd

In [3]:
links_df = pd.read_csv('ml-latest-small/links.csv')
links_df

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [4]:
movies_df = pd.read_csv('ml-latest-small/movies.csv')
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [26]:
movie_genres = [
    'Action', 
    'Adventure', 
    'Animation',
    "Children's",
    'Comedy',
    'Crime',
    'Documentary',
    'Drama',
    'Fantasy',
    'Film-Noir',
    'Horror',
    'Musical',
    'Mystery',
    'Romance',
    'Sci-Fi',
    'Thriller',
    'War',
    'Western'
]

In [31]:
movies_genres = []
for movieId, genres in zip(movies_df.movieId, 
                            movies_df.genres):
    genres_split = genres.split('|')
    for g in genres_split:
        movies_genres.append(
            {
                'movieId': movieId,
                'genre': g
            }
        )
movies_genres_df = pd.DataFrame(movies_genres)

       movieId      genre
0            1  Adventure
1            1  Animation
2            1   Children
3            1     Comedy
4            1    Fantasy
...        ...        ...
22079   193583    Fantasy
22080   193585      Drama
22081   193587     Action
22082   193587  Animation
22083   193609     Comedy

[22084 rows x 2 columns]

In [34]:
for i in movies_genres_df.groupby(['genre']):
    print(i)

('(no genres listed)',        movieId               genre
19492   114335  (no genres listed)
19881   122888  (no genres listed)
19888   122896  (no genres listed)
20100   129250  (no genres listed)
20229   132084  (no genres listed)
20373   134861  (no genres listed)
20664   141131  (no genres listed)
20699   141866  (no genres listed)
20733   142456  (no genres listed)
20772   143410  (no genres listed)
20871   147250  (no genres listed)
20948   149330  (no genres listed)
21027   152037  (no genres listed)
21084   155589  (no genres listed)
21101   156605  (no genres listed)
21199   159161  (no genres listed)
21218   159779  (no genres listed)
21274   161008  (no genres listed)
21409   165489  (no genres listed)
21428   166024  (no genres listed)
21476   167570  (no genres listed)
21536   169034  (no genres listed)
21613   171495  (no genres listed)
21614   171631  (no genres listed)
21617   171749  (no genres listed)
21634   171891  (no genres listed)
21649   172497  (no genres listed)
21664   172591  (no genres listed)
21709   173535  (no genres listed)
21733   174403  (no genres listed)
21806   176601  (no genres listed)
21901   181413  (no genres listed)
21903   181719  (no genres listed)
21919   182727  (no genres listed))
('Action',        movieId   genre
14           6  Action
21           9  Action
22          10  Action
34          15  Action
43          20  Action
...        ...     ...
22045   189547  Action
22059   191005  Action
22063   193565  Action
22073   193581  Action
22081   193587  Action

[1828 rows x 2 columns])
('Adventure',        movieId      genre
0            1  Adventure
5            2  Adventure
19           8  Adventure
23          10  Adventure
30          13  Adventure
...        ...        ...
22016   187595  Adventure
22024   188301  Adventure
22033   188833  Adventure
22040   189333  Adventure
22060   191005  Adventure

[1263 rows x 2 columns])
('Animation',        movieId      genre
1            1  Animation
31          13  Animation
104         48  Animation
448        239  Animation
578        313  Animation
...        ...        ...
22067   193567  Animation
22071   193573  Animation
22074   193581  Animation
22077   193583  Animation
22082   193587  Animation

[611 rows x 2 columns])
('Children',        movieId     genre
2            1  Children
6            2  Children
20           8  Children
32          13  Children
64          27  Children
...        ...       ...
21920   182731  Children
21938   183301  Children
21980   184987  Children
22011   187541  Children
22017   187595  Children

[664 rows x 2 columns])
('Comedy',        movieId   genre
3            1  Comedy
8            3  Comedy
10           4  Comedy
13           5  Comedy
17           7  Comedy
...        ...     ...
22065   193565  Comedy
22069   193571  Comedy
22075   193581  Comedy
22078   193583  Comedy
22083   193609  Comedy

[3756 rows x 2 columns])
('Crime',        movieId  genre
15           6  Crime
37          16  Crime
45          20  Crime
49          21  Crime
51          22  Crime
...        ...    ...
21976   184931  Crime
21993   185135  Crime
22028   188675  Crime
22043   189381  Crime
22048   189713  Crime

[1199 rows x 2 columns])
('Documentary',        movieId        genre
159         77  Documentary
201         99  Documentary
221        108  Documentary
234        116  Documentary
250        128  Documentary
...        ...          ...
21962   184257  Documentary
22019   187717  Documentary
22038   189111  Documentary
22058   190221  Documentary
22072   193579  Documentary

[440 rows x 2 columns])
('Drama',        movieId  genre
11           4  Drama
26          11  Drama
33          14  Drama
38          16  Drama
39          17  Drama
...        ...    ...
22055   190213  Drama
22056   190215  Drama
22068   193567  Drama
22070   193571  Drama
22080   193585  Drama

[4361 rows x 2 columns])
('Fantasy',        movieId    genre
4            1  Fantasy
7            2  Fantasy
70          29  Fantasy
96          44  Fantasy
128         60  Fantasy
...        ...      ...
22021   188189  Fantasy
22026   188301  Fantasy
22035   188833  Fantasy
22076   193581  Fantasy
22079   193583  Fantasy

[779 rows x 2 columns])
('Film-Noir',        movieId      genre
310        164  Film-Noir
598        320  Film-Noir
645        347  Film-Noir
1521       913  Film-Noir
1544       922  Film-Noir
...        ...        ...
16904    81132  Film-Noir
17412    88129  Film-Noir
17520    89753  Film-Noir
17688    91483  Film-Noir
20153   130482  Film-Noir

[87 rows x 2 columns])
('Horror',        movieId   genre
29          12  Horror
53          22  Horror
145         70  Horror
186         92  Horror
189         93  Horror
...        ...     ...
21885   180263  Horror
21935   183295  Horror
21944   183611  Horror
21957   184253  Horror
21986   185029  Horror

[978 rows x 2 columns])
('IMAX',        movieId genre
274        150  IMAX
692        364  IMAX
1109       595  IMAX
2937      1797  IMAX
5245      3159  IMAX
...        ...   ...
19297   111364  IMAX
19310   111659  IMAX
19322   111759  IMAX
19600   116529  IMAX
19880   122886  IMAX

[158 rows x 2 columns])
('Musical',        movieId    genre
107         48  Musical
220        107  Musical
382        199  Musical
456        242  Musical
643        346  Musical
...        ...      ...
19605   116718  Musical
19636   116941  Musical
19760   118997  Musical
19989   126482  Musical
20071   128832  Musical

[334 rows x 2 columns])
('Mystery',        movieId    genre
54          22  Mystery
71          29  Mystery
76          32  Mystery
102         47  Mystery
112         50  Mystery
...        ...      ...
21916   182715  Mystery
21930   183011  Mystery
21936   183295  Mystery
21946   183635  Mystery
21958   184253  Mystery

[573 rows x 2 columns])
('Romance',        movieId    genre
9            3  Romance
12           4  Romance
18           7  Romance
27          11  Romance
36          15  Romance
...        ...      ...
21863   179511  Romance
21900   181315  Romance
21965   184349  Romance
22031   188751  Romance
22053   190207  Romance

[1596 rows x 2 columns])
('Sci-Fi',        movieId   genre
60          24  Sci-Fi
72          29  Sci-Fi
77          32  Sci-Fi
138         66  Sci-Fi
157         76  Sci-Fi
...        ...     ...
22027   188301  Sci-Fi
22046   189547  Sci-Fi
22050   190183  Sci-Fi
22062   191005  Sci-Fi
22066   193565  Sci-Fi

[980 rows x 2 columns])
('Thriller',        movieId     genre
16           6  Thriller
24          10  Thriller
47          20  Thriller
50          21  Thriller
55          22  Thriller
...        ...       ...
21992   185033  Thriller
22007   187031  Thriller
22041   189333  Thriller
22044   189381  Thriller
22051   190183  Thriller

[1894 rows x 2 columns])
('War',        movieId genre
89          41   War
151         73   War
224        110   War
278        151   War
288        155   War
...        ...   ...
21574   170705   War
21631   171811   War
21693   173209   War
21729   174055   War
21871   179817   War

[382 rows x 2 columns])
('Western',        movieId    genre
308        163  Western
399        210  Western
500        266  Western
566        303  Western
704        368  Western
...        ...      ...
20918   148652  Western
21115   157108  Western
21310   162350  Western
21621   171759  Western
21746   175197  Western

[167 rows x 2 columns])

In [ ]:
movies_set = set(movies_genres_df.movieId)
movies_set

In [38]:
def get_genres_of_movie(movieId):
    for i in movies_genres_df.groupby(['movieId']):
        if i[0] == movieId:
            return list(i[1].genre)
        
def get_movies_of_genre(genre):
    for i in movies_genres_df.groupby(['genre']):
        if i[0] == genre:
            return list(i[1].movieId)

In [37]:
get_genres_of_movie(45)

['Comedy', 'Drama', 'Thriller']

In [39]:
get_movies_of_genre('Drama')

[4,
 11,
 14,
 16,
 17,
 20,
 22,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 34,
 36,
 40,
 41,
 42,
 43,
 45,
 46,
 48,
 49,
 52,
 53,
 55,
 57,
 58,
 61,
 62,
 72,
 73,
 74,
 75,
 78,
 79,
 80,
 81,
 82,
 83,
 85,
 86,
 92,
 94,
 96,
 97,
 100,
 105,
 106,
 110,
 111,
 113,
 117,
 121,
 123,
 140,
 145,
 147,
 148,
 149,
 150,
 151,
 152,
 154,
 155,
 156,
 159,
 161,
 166,
 168,
 169,
 171,
 175,
 178,
 179,
 184,
 191,
 193,
 194,
 195,
 198,
 199,
 201,
 202,
 205,
 207,
 209,
 211,
 213,
 214,
 215,
 217,
 218,
 219,
 222,
 224,
 225,
 229,
 230,
 232,
 233,
 235,
 241,
 242,
 247,
 249,
 253,
 254,
 259,
 261,
 262,
 263,
 265,
 266,
 269,
 270,
 271,
 272,
 273,
 277,
 279,
 280,
 281,
 282,
 283,
 285,
 290,
 291,
 292,
 293,
 296,
 298,
 299,
 300,
 301,
 302,
 304,
 306,
 307,
 308,
 314,
 315,
 317,
 318,
 319,
 321,
 322,
 324,
 326,
 329,
 331,
 334,
 336,
 337,
 340,
 341,
 345,
 346,
 347,
 349,
 350,
 351,
 352,
 354,
 356,
 358,
 359,
 361,
 364,
 365,
 366,
 369,
 371,
 372,
 381,
 382,
 384,
 385,
 386,
 388,
 389,
 390,
 391,
 406,
 408,
 409,
 412,
 418,
 421,
 424,
 425,
 427,
 428,
 430,
 431,
 436,
 438,
 446,
 448,
 450,
 451,
 452,
 454,
 455,
 456,
 458,
 459,
 461,
 469,
 472,
 475,
 476,
 477,
 478,
 481,
 482,
 488,
 491,
 493,
 495,
 496,
 500,
 501,
 504,
 506,
 507,
 508,
 509,
 510,
 511,
 515,
 516,
 517,
 519,
 522,
 523,
 524,
 526,
 527,
 528,
 529,
 531,
 534,
 535,
 536,
 537,
 538,
 539,
 542,
 549,
 553,
 562,
 563,
 567,
 568,
 569,
 573,
 574,
 577,
 580,
 583,
 587,
 590,
 594,
 605,
 608,
 613,
 615,
 617,
 627,
 628,
 632,
 635,
 636,
 639,
 640,
 645,
 647,
 649,
 650,
 665,
 668,
 670,
 678,
 679,
 680,
 685,
 694,
 697,
 698,
 703,
 706,
 707,
 714,
 715,
 724,
 726,
 757,
 760,
 764,
 765,
 766,
 773,
 778,
 779,
 781,
 782,
 783,
 786,
 790,
 795,
 798,
 800,
 802,
 803,
 805,
 806,
 823,
 824,
 835,
 838,
 848,
 851,
 852,
 858,
 866,
 869,
 875,
 882,
 885,
 889,
 892,
 893,
 896,
 897,
 898,
 902,
 903,
 906,
 909,
 912,
 914,
 916,
 917,
 920,
 922,
 923,
 924,
 926,
 928,
 929,
 932,
 943,
 944,
 946,
 948,
 949,
 953,
 954,
 956,
 959,
 961,
 965,
 970,
 971,
 973,
 979,
 981,
 982,
 984,
 987,
 988,
 991,
 993,
 994,
 996,
 1003,
 1006,
 1012,
 1014,
 1015,
 1019,
 1027,
 1029,
 1033,
 1034,
 1040,
 1041,
 1042,
 1043,
 1046,
 1047,
 1050,
 1051,
 1053,
 1054,
 1056,
 1059,
 1060,
 1076,
 1082,
 1084,
 1085,
 1088,
 1090,
 1093,
 1094,
 1095,
 1096,
 1097,
 1099,
 1100,
 1103,
 1104,
 1112,
 1114,
 1116,
 1117,
 1119,
 1120,
 1121,
 1124,
 1131,
 1132,
 1140,
 1150,
 1151,
 1156,
 1161,
 1162,
 1163,
 1172,
 1173,
 1175,
 1176,
 1177,
 1178,
 1179,
 1183,
 1184,
 1185,
 1186,
 1187,
 1190,
 1193,
 1203,
 1204,
 1206,
 1207,
 1208,
 1209,
 1211,
 1213,
 1216,
 1217,
 1218,
 1221,
 1222,
 1224,
 1225,
 1226,
 1227,
 1228,
 1231,
 1232,
 1233,
 1235,
 1236,
 1237,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1250,
 1251,
 1253,
 1254,
 1259,
 1262,
 1263,
 1264,
 1266,
 1268,
 1271,
 1272,
 1273,
 1276,
 1277,
 1279,
 1280,
 1281,
 1283,
 1286,
 1287,
 1290,
 1292,
 1293,
 1295,
 1296,
 1298,
 1299,
 1300,
 1301,
 1302,
 1303,
 1305,
 1306,
 1312,
 1318,
 1327,
 1337,
 1340,
 1344,
 1345,
 1346,
 1351,
 1353,
 1354,
 1357,
 1358,
 1363,
 1365,
 1366,
 1382,
 1385,
 1392,
 1393,
 1395,
 1396,
 1397,
 1399,
 1401,
 1406,
 1409,
 1411,
 1412,
 1413,
 1415,
 1416,
 1417,
 1419,
 1422,
 1423,
 1428,
 1432,
 1437,
 1442,
 1446,
 1454,
 1457,
 1458,
 1464,
 1465,
 1466,
 1473,
 1476,
 1480,
 1483,
 1484,
 1487,
 1488,
 1496,
 1498,
 1502,
 1507,
 1515,
 1519,
 1529,
 1533,
 1537,
 1542,
 1545,
 1547,
 1549,
 1551,
 1554,
 1564,
 1572,
 1573,
 1584,
 1586,
 1589,
 1594,
 1596,
 1597,
 1598,
 1600,
 1601,
 1609,
 1611,
 1613,
 1615,
 1619,
 1620,
 1621,
 1624,
 1625,
 1626,
 1627,
 1633,
 1635,
 1639,
 1641,
 1642,
 1643,
 1645,
 1647,
 1648,
 1650,
 1653,
 1654,
 1655,
 1656,
 1659,
 1660,
 1667,
 1670,
 1671,
 1672,
 1673,
 1674,
 1677,
 1678,
 1680,
 1682,
 1683,
 1684,
 1685,
 1688,
 1693,
 1694,
 1695,
 1696,
 1699,
 1701,
 1704,
 1711,
 1719,
 1721,
 1726,
 1727,
 1729,
 1730,
 1733,
 1734,
 1735,
 1754,
 1757,
 1759,
 1767,
 1783,
 1784,
 1791,
 1794,
 1799,
 1801,
 1804,
 1805,
 1807,
 1809,
 1810,
 1812,
 1816,
 1825,
 1829,
 1833,
 1834,
 1835,
 1836,
 1840,
 1841,
 1844,
 1859,
 1860,
 1870,
 1873,
 1876,
 1883,
 1884,
 1885,
 1888,
 1889,
 1893,
 1895,
 1897,
 1900,
 1902,
 1904,
 1907,
 1910,
 1912,
 1913,
 1914,
 1916,
 1921,
 1922,
 1927,
 1928,
 1929,
 1931,
 1932,
 1933,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1944,
 1945,
 1946,
 1947,
 1949,
 1950,
 1951,
 1952,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1964,
 1968,
 2000,
 2001,
 2002,
 2008,
 2009,
 2010,
 2013,
 2018,
 2019,
 2020,
 2022,
 2023,
 2024,
 2025,
 2028,
 2058,
 2065,
 2067,
 2068,
 2069,
 2070,
 2071,
 2074,
 2075,
 2076,
 2090,
 2097,
 2104,
 2106,
 2112,
 2114,
 2117,
 2120,
 2123,
 2125,
 2130,
 2131,
 2132,
 2138,
 2139,
 2145,
 2146,
 2147,
 2154,
 2155,
 2156,
 2160,
 2164,
 2165,
 2166,
 2171,
 2172,
 2175,
 2176,
 2181,
 2182,
 2183,
 2186,
 2188,
 2190,
 2194,
 2201,
 2202,
 2203,
 2207,
 2208,
 2212,
 2226,
 2227,
 2231,
 2236,
 2239,
 2240,
 2243,
 2245,
 2248,
 2252,
 2260,
 2262,
 2263,
 2268,
 2269,
 2271,
 2272,
 2281,
 2282,
 2283,
 2289,
 2290,
 2291,
 2297,
 2303,
 2304,
 2310,
 2312,
 2313,
 2314,
 2316,
 2318,
 2320,
 2321,
 2324,
 2329,
 2331,
 2332,
 2333,
 2336,
 2337,
 2342,
 2344,
 2347,
 2348,
 2351,
 2352,
 2357,
 2358,
 2360,
 2362,
 2363,
 2369,
 2370,
 2374,
 2384,
 2388,
 2391,
 2392,
 2393,
 2395,
 2396,
 2398,
 2400,
 2403,
 2409,
 2410,
 2411,
 2412,
 2415,
 2417,
 2419,
 2420,
 2421,
 2422,
 2427,
 2429,
 2430,
 2431,
 2432,
 2433,
 2435,
 2436,
 2439,
 2442,
 2443,
 2445,
 2447,
 2453,
 2455,
 2467,
 2469,
 2474,
 2481,
 2488,
 2493,
 2501,
 2503,
 2504,
 2505,
 2506,
 2512,
 2520,
 2521,
 2522,
 2523,
 2524,
 2529,
 2535,
 2540,
 2541,
 2544,
 2546,
 2551,
 2557,
 2563,
 2565,
 2570,
 2573,
 2575,
 2577,
 2583,
 2585,
 2587,
 2589,
 2590,
 2594,
 2596,
 2607,
 2609,
 2611,
 2612,
 2620,
 2624,
 2630,
 2632,
 2639,
 2648,
 2654,
 2662,
 2672,
 2674,
 2676,
 2682,
 2686,
 2687,
 2688,
 2691,
 2695,
 2697,
 2702,
 2710,
 2712,
 2725,
 2728,
 2729,
 2730,
 2731,
 2732,
 2734,
 2737,
 2738,
 2739,
 2742,
 2743,
 2744,
 2745,
 2749,
 2750,
 2751,
 2757,
 2761,
 2762,
 2764,
 2765,
 2766,
 2769,
 2771,
 2775,
 2797,
 2800,
 2801,
 2802,
 2803,
 2819,
 2820,
 2824,
 2839,
 2840,
 2844,
 2846,
 2847,
 2848,
 2852,
 2858,
 2861,
 2862,
 2866,
 2871,
 2875,
 2881,
 ...]

In [5]:
ratings_df = pd.read_csv('ml-latest-small/ratings.csv')
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [91]:
movie_avg_rating = {}
for i in ratings_df.groupby(['movieId']):
    movieId = i[0]
    avg_rating = i[1].mean().rating
    movie_avg_rating[movieId] = avg_rating

# if movies are not rate, give a 0 rating
for movie in movies_set:
    if movie in movie_avg_rating.keys():
        continue
    movie_avg_rating[movie] = 0

In [93]:
len(movie_avg_rating), len(movies_set)

(9742, 9742)

In [6]:
tags_df = pd.read_csv('ml-latest-small/tags.csv')
tags_df

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [95]:
def get_recommendations_for_user(userId, consider_avg=True):
    for i in ratings_df.groupby(['userId']):
        if i[0] == userId:
            print('User', i[0])
            user_df = i[1]
            for r in user_df.groupby(['rating']):
                if r[0] == 5:
                    print('Rating', r[0])
                    
                    # find the movies rated by the user
                    user_rated_movies = (list(r[1].movieId))
                    print('Movies rated by user')
                    print(user_rated_movies)
                    print()
                    
                    # find the genres user prefer from the movies he rated
                    user_genres = []
                    for movie in user_rated_movies:
                        genres = get_genre_of_movie(movie)
                        for genre in genres:
                            user_genres.append(genre)
                    
                    print('Users genre preferences')
                    user_genre_prefs = []
                    for g in movie_genres:
                        count = user_genres.count(g)
                        user_genre_prefs.append(count)
                        print(g, '----', count)
                    print()
                    
                    # find the user's favourite genre
                    user_fav_genre = movie_genres[user_genre_prefs.index(max(user_genre_prefs))]
                    print('User Favourite genre:', user_fav_genre)
                    print()

                    # get movies of the genre user likes
                    movies = get_movies_of_genre(user_fav_genre)
                    recommend_movies = []
                    for movie in movies:
                        if consider_avg:
                            if movie_avg_rating[movie] < 4:
                                continue
                        if movie not in user_rated_movies:
                            recommend_movies.append(movie)
                    print('Recommendations:', recommend_movies[:10])

In [97]:
get_recommendations_for_user(100, consider_avg=False)

User 100
Rating 5.0
Movies rated by user
[1101, 1958, 2423, 4041, 5620]

Users genre preferences
Action ---- 1
Adventure ---- 0
Animation ---- 0
Children's ---- 0
Comedy ---- 3
Crime ---- 0
Documentary ---- 0
Drama ---- 2
Fantasy ---- 0
Film-Noir ---- 0
Horror ---- 0
Musical ---- 0
Mystery ---- 0
Romance ---- 3
Sci-Fi ---- 0
Thriller ---- 0
War ---- 0
Western ---- 0

User Favourite genre: Comedy

Recommendations: [1, 3, 4, 5, 7, 11, 12, 18, 19, 20]

# Matrix factorization

Approaches:
1. Find nearest neigbours 
2. Check cosine similarity between the matrices

In [98]:
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [258]:
def get_movies_rated_by_user(userId):
    user_rated_movies = []
    for i in ratings_df.groupby(['userId']):
        if i[0] == userId:
            user_df = i[1]
            for r in user_df.groupby(['rating']):
                if r[0] >= 4:                   
                    # find the movies rated by the user
                    user_rated_movies = (list(r[1].movieId))
    return user_rated_movies

In [297]:
def get_recommendations(u1, u2):
    recommend_movies = []
    u1_movies = get_movies_rated_by_user(u1)
    u2_movies = get_movies_rated_by_user(u2)
    for movie in u2_movies:
        if movie not in u1_movies:
            recommend_movies.append(movie)
            
    return recommend_movies[:10]

In [268]:
'''
here, all ratings are taken into consideration
'''

user_rows = []
for user in list(set(ratings_df.userId)):
    # print('User', user)
    user_row = [0] * 5000
    for userId, movieId, rating in zip(ratings_df.userId,
                                      ratings_df.movieId,
                                      ratings_df.rating):
        if userId == user:
            if movieId in range(0,5000):
                user_row[movieId] = rating
    # print(user_row)
    user_rows.append(user_row)

In [269]:
user_rows = np.asarray(user_rows)
user_rows.shape

(610, 5000)

In [270]:
'''
here, only ratings above 4.0 are taken into consideration
these values are given a 1 (user likes the movie)
or 0 (user does not)
'''

user_rows_binary = []
for user in list(set(ratings_df.userId)):
    # print('User', user)
    user_row = [0] * 5000
    for userId, movieId, rating in zip(ratings_df.userId,
                                      ratings_df.movieId,
                                      ratings_df.rating):
        if userId == user:
            if movieId in range(0,5000):
                if rating >= 4.0:
                    user_row[movieId] = 1
    # print(user_row)
    user_rows_binary.append(user_row)

In [271]:
user_rows_binary = np.asarray(user_rows_binary)
user_rows_binary.shape

(610, 5000)

### Nearest neighbours

In [174]:
from sklearn.neighbors import NearestNeighbors
import numpy as np

In [275]:
'''
get Nearest neighbours
'''
nbrs = NearestNeighbors(n_neighbors=5, algorithm='ball_tree').fit(user_rows)
distances, indices_v1 = nbrs.kneighbors(user_rows)
indices_v1

array([[  0, 278, 211, 246,  75],
       [  1, 597, 441, 549, 290],
       [  2, 597, 441, 290, 305],
       ...,
       [607, 424, 218, 433, 297],
       [608,  80, 339,  53, 129],
       [609, 297, 278,  62, 433]], dtype=int64)

In [291]:
def check_santity(u1, u2):
    print('Checking sanity for (%d, %d)' % (u1, u2))
    user_0 = np.where(user_rows[u1]>=4.0)[0]
    user_1 = np.where(user_rows[u2]>=4.0)[0]

    count = 0
    for _ in user_0:
        if _ in user_1:
            count += 1

    print('# of concurrences', count)
    return count

In [292]:
for ind in range(5):
    check_santity(indices_v1[ind][0], indices_v1[ind][1])

Checking sanity for (0, 278)
# of concurrences 18
Checking sanity for (1, 597)
# of concurrences 0
Checking sanity for (2, 597)
# of concurrences 0
Checking sanity for (3, 581)
# of concurrences 3
Checking sanity for (4, 564)
# of concurrences 7

In [293]:
indices_v1[0][1]

278

In [329]:
for ind in range(10):
    print('Recommendations for User %d:' %(ind), get_recommendations(ind, indices_v1[ind][1]))

Recommendations for User 0: [50, 318, 527, 1635, 54272]
Recommendations for User 1: [21, 45, 104, 110, 232, 246, 281, 322, 348, 356]
Recommendations for User 2: [21, 45, 50, 101, 104, 110, 232, 246, 260, 281]
Recommendations for User 3: [318, 527, 3147, 4896, 5816, 5995, 7361]
Recommendations for User 4: [1265, 1307, 7451, 58655, 60756, 67734, 69406, 88163, 88405, 94677]
Recommendations for User 5: [260, 1213, 2959, 4993]
Recommendations for User 6: [32, 902, 910, 914, 1028, 1136, 1197, 1207, 2161, 3000]
Recommendations for User 7: [48780, 79132]
Recommendations for User 8: [111, 246, 260, 296, 608, 750, 800, 858, 898, 899]
Recommendations for User 9: [3, 24, 50, 104, 110, 187, 260, 293, 318, 333]

Here it is seen preferences are less correlated

In [300]:
'''
get Nearest neighbours
'''

nbrs = NearestNeighbors(n_neighbors=5, algorithm='ball_tree').fit(user_rows_binary)
distances, indices_v2 = nbrs.kneighbors(user_rows_binary)
indices_v2

array([[  0, 514,  24, 398,  75],
       [  1, 441, 305, 280, 213],
       [  2, 305, 441, 213, 280],
       ...,
       [607, 253, 416,  61, 552],
       [608,  53, 549, 441, 305],
       [609, 433, 399, 278, 297]], dtype=int64)

In [301]:
def check_santity_binary(u1, u2):
    print('Checking sanity for (%d, %d)' % (u1, u2))
    user_0 = np.where(user_rows_binary[u1]==1.0)[0]
    user_1 = np.where(user_rows_binary[u2]==1.0)[0]

    count = 0
    for _ in user_0:
        if _ in user_1:
            count += 1

    print('# of concurrences', count)

In [302]:
for ind in range(5):
    check_santity_binary(indices_v2[ind][0], indices_v2[ind][1])

Checking sanity for (0, 514)
# of concurrences 7
Checking sanity for (1, 441)
# of concurrences 0
Checking sanity for (2, 305)
# of concurrences 0
Checking sanity for (3, 204)
# of concurrences 3
Checking sanity for (4, 144)
# of concurrences 6

In [328]:
for ind in range(10):
    print('Recommendations for User %d:' %(ind), get_recommendations(ind, indices_v2[ind][1]))

Recommendations for User 0: [260, 593, 1196, 1197, 1198, 1200, 1270, 1302, 1387, 2398]
Recommendations for User 1: [296, 589, 1241, 2683, 3254, 4402, 4571, 4993, 5481, 7153]
Recommendations for User 2: [32, 50, 70, 163, 260, 296, 318, 357, 431, 527]
Recommendations for User 3: [47, 1136, 1222, 1653, 2329, 2710, 2959, 3266, 3949, 4878]
Recommendations for User 4: [590, 2329, 4226, 4306, 6377, 6539, 8360, 8873]
Recommendations for User 5: [2058, 3534, 4387, 5785, 31184, 59315, 68358, 71535, 72998]
Recommendations for User 6: [32, 902, 910, 914, 1028, 1136, 1197, 1207, 2161, 3000]
Recommendations for User 7: [1265, 1307, 7451, 58655, 60756, 67734, 69406, 88163, 88405, 94677]
Recommendations for User 8: [377]
Recommendations for User 9: [260, 296, 589, 1241, 1517, 2571, 2683, 2716, 3253, 3254]

### Cosine similarity

In [325]:
from sklearn.metrics.pairwise import cosine_similarity
sim = cosine_similarity(user_rows)

In [326]:
def get_recom_from_sim(user, sim):
    indices = sim[user].argsort()[-5:][::-1]
    print('Recommendations for User %d:' %(user), get_recommendations(user, indices[1]))

In [327]:
for ind in range(10):
    get_recom_from_sim(user=ind, sim=sim)

Recommendations for User 0: [82, 524, 838, 904, 910, 915, 919, 1220, 1231, 1265]
Recommendations for User 1: [2028]
Recommendations for User 2: [293, 778, 1527, 1676, 1732, 2174, 2571, 2959, 4027, 8874]
Recommendations for User 3: [308, 1193, 1217, 2291, 2959, 4973, 6350, 6377, 7361, 8254]
Recommendations for User 4: [32, 110, 111, 296, 318, 441, 471, 529, 541, 555]
Recommendations for User 5: [367, 541, 1035, 1101, 1198, 1387, 2006, 2724]
Recommendations for User 6: [32, 902, 910, 914, 1028, 1136, 1197, 1207, 2161, 3000]
Recommendations for User 7: [48780, 79132]
Recommendations for User 8: [377]
Recommendations for User 9: [2490]

### SVD + Cosine similarity

In [308]:
from sklearn.decomposition import TruncatedSVD
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Normalizer

In [320]:
svd = TruncatedSVD(n_components=10)
normalizer = Normalizer(copy=True)
lsa = make_pipeline(svd, normalizer)
X_lsa = lsa.fit_transform(user_rows)

In [323]:
sim = cosine_similarity(X_lsa)

In [324]:
for ind in range(10):
    get_recom_from_sim(user=ind, sim=sim)

Recommendations for User 0: [293, 778, 1527, 1676, 1732, 2174, 2571, 2959, 4027, 8874]
Recommendations for User 1: [2289, 6377]
Recommendations for User 2: [1, 14, 36, 62, 661, 1073]
Recommendations for User 3: [2502, 2628, 2879, 3615]
Recommendations for User 4: [1, 24, 48, 153, 158, 317, 364, 480, 553, 588]
Recommendations for User 5: [367, 541, 1035, 1101, 1198, 1387, 2006, 2724]
Recommendations for User 6: [1193, 3567]
Recommendations for User 7: [318, 527, 1198, 2571, 2959, 4993, 7153, 79132, 91529, 92259]
Recommendations for User 8: [104, 231, 356, 953, 1304, 1923, 2706, 3481, 3616, 3617]
Recommendations for User 9: [225, 1376, 1639]

In [330]:
X_lsa = lsa.fit_transform(user_rows_binary)
sim = cosine_similarity(X_lsa)
for ind in range(10):
    get_recom_from_sim(user=ind, sim=sim)

Recommendations for User 0: [110, 590, 593, 595]
Recommendations for User 1: [541, 1199, 1211, 1273, 1288, 1300, 1394, 2020, 2076]
Recommendations for User 2: [111, 260, 527, 541, 750, 903, 912, 924, 968, 1097]
Recommendations for User 3: [296, 2858, 2959, 3535, 4262, 6874, 7361, 7438, 51255, 68157]
Recommendations for User 4: [367, 541, 1035, 1101, 1198, 1387, 2006, 2724]
Recommendations for User 5: [1639]
Recommendations for User 6: [32, 902, 910, 914, 1028, 1136, 1197, 1207, 2161, 3000]
Recommendations for User 7: [318, 527, 1198, 2571, 2959, 4993, 7153, 79132, 91529, 92259]
Recommendations for User 8: [104, 231, 356, 953, 1304, 1923, 2706, 3481, 3616, 3617]
Recommendations for User 9: [1220, 106782]